$sw-text-color-red: #FF0000;
$sw-text-color-white: #FFFFFF;
$tw-text-color-dark: #323232;
$tw-search-border: #f3f3f3;
$tw-search-border-shadow: #EEEEEE;
$tw-badge-background-color: #bccf02;
$tw-footer-background-color: #77807d;
$tw-background-color-newsletter: #bccf02;
$tw-productbox-border-color: #bbbbbb;
$tw-input-border-color: #323232;

$tw-home-background-color: #EEEDEA;
$tw-border-color: #bbbbbb;
$tw-secondary-button-color: #526e7f;


$tw-assetPath: "/bundles/egle/assets";
