.header-actions-btn {
    .label {
        text-decoration: underline;
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: $sw-color-brand-primary;
        font-weight: normal;
    }
}