.main-navigation {
    .main-navigation-menu {
        padding: 0 20px;
        height: 78px;
        justify-content: space-between;

        .nav-item-wrapper:last-child {
            a {
                color: #E22107;
            }
        }

    }
    &:after {
        display: block;
        content: '';
        position: absolute;
        //z-index: -1;
        z-index: 1;
        width: 100%;
        top: 202px;
        height: 78px;
        -webkit-box-shadow: 0 0 20px 0 #E6E6E6;
        -moz-box-shadow: 0 0 20px 0 #E6E6E6;
        box-shadow: 0 0 20px 0 #E6E6E6;
    }
}

.nav-item-wrapper {
    position: relative;
    z-index: 100;
    .main-navigation-link {
        position: relative;
        padding: 0;
        .main-navigation-link-text {
            font-size: 16px;
            line-height: 78px;
            padding: 0;
        }

        &.active {
            color: #135541;
            .main-navigation-link-text {
                border: none;
                font-weight: normal;
            }
        }
        &.is-open {
            span {
                &:after {
                    -webkit-animation: fade-in 0.3s ease-in-out both;
                    animation: fade-in 0.3s ease-in-out both;
                    content: '';
                    position: relative;
                    width: 0;
                    height: 0;
                    display: block;
                    border-right: 7.5px solid transparent;
                    border-left: 7.5px solid transparent;
                    border-top: 7.5px solid #BCCF02;
                    border-bottom: none;
                    left: calc(50% - 7.5px);
                    top: 100%;
                    z-index: 800;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .main-navigation {
        display: none;
    }
}

@media (min-width: 1025px) {
    .main-navigation {
        display: inherit;
    }
}

@include media-breakpoint-up(xl) {
    .main-navigation {
        .main-navigation-menu {
            padding: 0 40px;
        }
    }
}
