.is-act-search {
    .search-headline {
        text-align: left;
        margin-bottom: 40px;
    }
    .cms-element-sidebar-filter {
        display: flow-root;
        .filter-panel-wrapper {
            float: left;
            width: 25%;
        }
        .cms-element-product-listing-wrapper {
            width: 75%;
            margin-left: 25%
        }

        .filter-panel-item {
            width: 90%;
            .filter-panel-item-toggle {
                border: none;
                width: 150px;
                text-align: left;
                .icon {
                    display: none;
                }
            }
        }
        .dropdown-menu {
            &.show {
                display: contents;
            }
        }
    }
}