{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block base_header %}
    {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
{% endblock %}

{% block page_checkout_aside_actions %}
    <div class="checkout-aside-action">
        <form id="confirmOrderForm"
              action="{{ path('frontend.checkout.finish.order') }}"
              data-form-csrf-handler="true"
              method="post">

            {% block page_checkout_aside_actions_csrf %}
                {{ sw_csrf('frontend.checkout.finish.order') }}
            {% endblock %}

            {% block page_checkout_confirm_form_submit %}
                <button id="confirmFormSubmit"
                        class="btn btn-primary btn-block btn-lg"
                        form="confirmOrderForm"
                        {% if page.cart.errors|length > 0 or page.cart.price.totalPrice < 25%}
                            disabled="disabled"
                            title="{{ "egle.checkout.cart.buybuttonText"|trans }}"
                        {% endif %}

                        type="submit">
                    {{ "checkout.confirmSubmit"|trans|sw_sanitize }}
                </button>
            {% endblock %}
        </form>
    </div>
{% endblock %}

