.icon-bill {
    height: 20px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.icon-truck {
    height: 16px;
    width: 23px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.icon-phone {
    height: 18px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.icon-box {
    height: 17px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.icon-search {
    width: 30px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
}
.icon-avatar {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0 6px 0 0;
}
.icon-cart {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0 6px 0 0;
}
.icon-chevron {
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 11px;
}